<!DOCTYPE html>
<html lang="en">
  <%- include("dashboardHeaderTemplate") -%>

  <body>
    <% if (profileName) { %>
    <div class="profileNameArea"><%= profileName %></div>
    <% } else { %>
    <div class="profileNameArea">""</div>
    <% } %> <%- include("dashboardNavTemplate") -%> <%- include("errorTemplate")
    -%> <%- include("dashboardCenterTemplate") -%>
    <%-include("taskManagementTemplate") -%> <%-include("taskComponentTemplate")
    -%>
  </body>
</html>
