<!DOCTYPE html>
<html lang="en">
  <%- include("headerTemplate") -%>

  <body>
    <%- include("navTemplate") -%> <%- include("errorTemplate") -%> <%-
    include("newTaskFormTemplate") -%> <%-include("taskManagementTemplate") -%>
  </body>
</html>
