<!DOCTYPE html>
<html lang="en">
  <%- include("headerTemplate") -%>

  <body>
    <!-- <%- include("navTemplate") -%> <%- include("newTaskFormTemplate") -%>
    <%-include("taskManagementTemplate") -%> 
     -->
    <%-include("dashboard") -%>

    <template id="taskComponent">
      <div data-task-id class="taskContainer" draggable="true">
        <div class="taskHeader">
          <h5 class="name">Task Name</h5>
          <div class="taskHeaderDate">
            <h5 class="deadline">Deadline Date</h5>
          </div>
        </div>
        <div class="content">Content</div>
        <div>
          <p class="status">Active</p>
          <button class="deleteButton">x</button>
        </div>
      </div>
    </template>
  </body>
</html>
